
.xtcz-top-box-office-list .odd {
    background-color: #f9f9f9;
}
.xtcz-top-box-office-list .even {
    background-color: #e6e6e6;
}
.xtcz-top-box-office-list td {
    padding: 10px !important;
}
.xtcz-top-box-office-list img {
    float: left;
    margin: 0 10px;
}
.xtcz-top-box-office-list li, .xtcz_widget_Top_BoxOffice_list li {
    list-style: none;
}
.xtcz_widget_Top_BoxOffice_list li img {
    float: left;
    margin: 5px;
}
.xtcz_widget_Bollywood_BoxOffice_list td {
    padding: 4px;
}